
ul
{
    list-style: none;
}
li
{
    display: inline-block; 
    width: 300px;
}
.special
{
    width: 800px ;
    margin: 100px auto ;
    background-color: antiquewhite;
    padding: 0 10px;
}
